/* Estilos para o layout básico */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  #categories, #products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .category, .product {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .category img, .product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  